@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* Primary Clrs */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  /* Neutral Clrs */
  --vd-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --vl-gray: hsl(0, 0%, 98%);
}

/* ----------------------------- */
/*         CSS Reset             */   
/* ----------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100svh;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--vl-gray);
}
li, a , span{
    display: inline-block;
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* ----------------------------- */
/*         Utils                */   
/* ----------------------------- */
.font-thin{
    font-weight: 200;
}
.font-regular{
    font-weight: 400;
}
.font-semibold{
    font-weight: 600;
}
.right{
    text-align: right;
}

/* Borders */
.red-border{
    border-top: 5px solid var(--clr-red);
}
.cyan-border{
    border-top: 5px solid var(--clr-cyan);
}
.orange-border{
    border-top: 5px solid var(--clr-orange);
}
.blue-border{
    border-top: 5px solid var(--clr-blue);
}

/* Neutral Colours */
.clr-vd-blue{
    color: var(--vd-blue);
}
.clr-grayish-blue{
    color: var(--grayish-blue);
}
.clr-vl-gray{
    color: var(--vl-gray);
}

/* ----------------------------- */
/*         Actual Styling        */   
/* ----------------------------- */
.container{
    /* min-height: 100vh; */
    width: 80%;
    max-width: 1440px;
    margin: auto;
}
.section-one{
    margin-block: 3rem;
}
.section-one > * {
    text-align: center;
    margin: auto;
}
.section-one p{
    margin-top: 1rem;
    max-width: 50%;
}

/* section two */
.section-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 3%;
}
.box{
    box-shadow: 5px 5px 15px var(--grayish-blue);
    padding: 2rem 2rem 1rem;
    position: relative;
}

.box-2-1{
    margin-bottom: 2rem;
}
.box h2{
color: var(--vd-blue);
}
.box p{
    font-size: .8rem;
}
.box img{
    width: 3rem;
    margin-top: 1rem;
    text-align: right;
}
.section-two div{
    border-radius: 10px;
}
.section-two__one-c, .section-two__three-c{
    align-self: center;
}

/* ----------------------------- */
/*         For Mobiles          */   
/* ----------------------------- */
@media (max-width: 800px) {
    .section-two{
        display: block;
    }
    .box{
        margin-bottom: 4rem;
    }
}